html, body {
    
    background-color: #fa0a22;

}

nav {
    background-color: #334;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: 0.3s;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #ff5733;
    border-radius: 5px;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff5733;
    color: white;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: #d84315;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff5733;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #d84315;
}
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #220afa;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}
.History{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.History-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}


